.backGround {
    /* background-image: url('image/bg.png'); */
    /* border-bottom-right-radius: 4rem!important;
    border-bottom-left-radius: 4rem!important; */
    border-top-left-radius: 2rem!important;
    border-top-right-radius: 2rem!important;
    background-color: #d1baf9;
    height: 100vh;
   

  }

  .backGround-1 {
    background: radial-gradient(circle at 19% 9.4%, #A1A1EE 0%, #8A98EE 116%);
  }

.insideCard{
    background-color :#dbdffb;
    border-radius: 20px;
    height: 70%;
}

.topColor{
  color: #d1baf9;

}
.bottomMenuFontSize{
  font-size: 12px;
}
@media only screen and (min-width: 476px) {
  .bottomMenuFontSize {
    font-size: 15px;
  }
}
.menu{
  background-color :#dbdffb;
  position: absolute;
  bottom: 0px;
}

.plusIcon{
    color: #8996f2;
    right: 0px;
}

.textStyle{
    color: var(--mulled-wine);
    font-family: var(--font-family-sfprorounded-semibold);
    font-style: normal;
}

.textStyleDays{
  color: var(--plump-purple);
  font-family: var(--font-family-sfprorounded-bold);
  font-style: normal;
}

.heading{
  color: var(--mulled-wine);
    font-family: var(--font-family-sfprorounded-bold);
    font-style: normal;
    white-space: nowrap;
}
.textStyleDate{
  font-family: var(--font-family-sfprorounded-bold);
  font-style: normal;
  color: #6b66fa;
}
.textSmall{
    color: var(--ocean-blue-pearl);
    font-family: var(--font-family-sfprorounded-semibold);
    font-style: normal;
    letter-spacing: 0;

}

.roundContainer{
  border-top-left-radius: 2rem!important;
  border-top-right-radius: 2rem!important;
  border-bottom-left-radius: 2rem!important;
  border-bottom-right-radius: 2rem!important;
  background-color :#dbdffb;
}



.circleAbove{
     height:200px;
}
.menucircle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  
    }

/*      */

/* #544add */
.panel-label {
    font-weight: 700;
    left: 165px;
    letter-spacing: 0;
    line-height: 36px;
    position: absolute;
    text-align: center;
    top: 121px;
    white-space: nowrap;
}

:root {
    --indigo: #5e71b6;
    --mulled-wine: #483e66;
    --ocean-blue-pearl: #4233b8;
    --perfume: #d3b3f5;
    --plump-purple: #544add;
    --portage-22: #8996f2;
    --portage2: #92a2ff;
    --white: #ffffff;
    --font-size-l2: 17px;
    --font-size-m2: 16px;
    --font-size-s2: 14px;
    --font-size-xxl: 36px;
    --font-size-xxxl: 22px;
    --font-size-xxxxl: 30px;
    --font-family-sfprorounded-bold: "SFProRounded-Bold", Helvetica;
    --font-family-sfprorounded-semibold: "SFProRounded-Semibold", Helvetica;
}

@font-face {
    font-family: "SFProRounded-Semibold";
    font-weight: 600;
    src: url("https://fonts.animaapp.com/SFProRounded-Semibold") format("opentype");
  }
  @font-face {
    font-family: "SFProRounded-Bold";
    font-weight: 700;
    src: url("https://fonts.animaapp.com/SFProRounded-Bold") format("opentype");
  }